html {
    scroll-snap-type: y mandatory;   /* y for vertical scroll; 
    mandatory: always go to snap pos when not scrolling*/
}

.app {
    height: 100%;
    background-image: url("./background.png");
    background-size: 100% 100%;
    background-color: #141814;
    /*to center anything: foll 2 lines*/
    display: grid;
    place-items: center;
}

.app__videos {
    position: relative;
    height: 100vh;
    border-radius: 30px;
    margin: 3px 0;
    overflow: scroll;
    width: 80%;
    box-shadow:
    0 0 5px 2px #fff,  /* inner white */
    0 0 9px 5px #f0f,  /* middle magenta */
    0 0 13px 8px #0ff; /* outer cyan */
    max-width: 500px;  /*the max width the component can have when we to bigger screens*/    
    scroll-snap-type: y mandatory; /*we still have to tell it where to snap to using scroll-snap-align(applied to video component)*/
}

/*Hide scrollbar for Chrome, Safari and Opera*/
.app__videos::-webkit-scrollbar {
    display: none;
}

/*Hide scrollbar for IE, Edge and Firefox*/
.app__videos::-webkit-scrollbar {
    -ms-overflow-style: none; /*IE , edge*/
    scrollbar-width: none; /*firefox*/ 
}